.thumbnail-component {
  display: flex;
  flex-direction: column;
  width: 100%;
  text-decoration: none;
  color: black;
}

.thumbnail-component div {
  background-color: #222;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 30px;
}

.thumbnail-component img {
  border: 2px solid #fff;
  height: 170px;
  width: 170px;
  transition: transform 333ms ease, box-shadow 333ms ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  object-fit: cover;
}

.thumbnail-component p {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0;
  font-size: 21px;
  text-align: center;
  white-space: nowrap;
  font-weight: bold;
}

.thumbnail-component:hover img {
  transform: scale(1.2);
}
